<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeMgmt_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeController</display-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>com.ignite.controller.AddEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/addEmployeeController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>
      javax.servlet.ServletException
   </exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.ignite.handler.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeController</display-name>
    <servlet-name>EditEmployeeController</servlet-name>
    <servlet-class>com.ignite.controller.EditEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeController</servlet-name>
    <url-pattern>/editEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeController</display-name>
    <servlet-name>DeleteEmployeeController</servlet-name>
    <servlet-class>com.ignite.controller.DeleteEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeController</servlet-name>
    <url-pattern>/deleteEmployeeController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserAuthentication</display-name>
    <filter-name>UserAuthentication</filter-name>
    <filter-class>com.ignite.filter.UserAuthentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthentication</filter-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthentication</filter-name>
    <servlet-name>DeleteEmployeeController</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthentication</filter-name>
    <servlet-name>EditEmployeeController</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthentication</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ignite.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutController</display-name>
    <servlet-name>SignoutController</servlet-name>
    <servlet-class>com.ignite.controller.SignoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutController</servlet-name>
    <url-pattern>/signoutController</url-pattern>
  </servlet-mapping>
</web-app>